<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header">

            <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                    th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, X-Content-Type-Options: nosniff">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/nav.css">
        </div>
    </div>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div >
                <ul>
                    <li> <a href="/product-list">Product list</a></li>
                </ul>
                <ul sec:authorize="isAuthenticated()">
                    <li class="active"><a th:href="@{/order-list}">Order List</a></li>
                </ul>

                <ul  sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/register}">Registration</a></li>
                </ul>

                <ul  sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/login}">Login</a></li>
                </ul>

                <ul  sec:authorize="isAuthenticated()">
                    <li class="active"><a th:href="@{/logout}">Sign Out</a></li>
                </ul>
                <ul  sec:authorize="isAuthenticated()">
                    <li class="active">Logged as <span sec:authentication="name"></span></li>
                </ul>
            </div>
        </div>
    </nav>
</div>


</body>
</html>