<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Orders</title>
    <div th:replace="_header.html :: header"/>
</head>
<body>
<div th:replace="_header.html :: navbar"/>
<div align="center">
    <h1>Order Management App</h1>
</div>

<div th:switch="${orders}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No ordered products on list!</h2>
            <div th:case="*">
                <h2 class="my-5">List of ordered products</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Product id</th>
                        <th>Product name</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a href="/order-add" class="btn btn-primary"><i class="fas fa-plus-circle"> Add Product</i></a></p>
        </div>
    </div>
</div>
<div th:replace="_footer.html :: footer"/>
</body>
</html>