<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Orders</title>
    <div th:replace="_header.html :: header"/>
</head>
<body>
<div th:replace="_header.html :: navbar"/>
<div align="center">
    <h1>Order Management App</h1>
</div>

<div th:switch="${orders}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No ordered products on list!</h2>
            <div th:case="*">
                <h2 class="my-5">List of ordered products</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Order id</th>
                        <th>Product List</th>
                        <th>User </th>
                        <th>Order Creation date<th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.getProductsList()}"></td>
                        <td th:text="${order.getUser().getUsername()}"></td>
                        <td th:text="${order.creationDate}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="_footer.html :: footer"/>
</body>
</html>