<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Products</title>
    <div th:replace="_header.html :: header"/>
</head>
<body>
<div th:replace="_header.html :: navbar"/>
<div align="center">
    <h1>Order Management App</h1>


<div th:switch="${products}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No products on list!</h2>
            <div th:case="*">
                <h2 class="my-5">List of products</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Product id</th>
                        <th>Product name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Add to order List</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td><a th:href="@{/edit/{id}(id=${product.id})}" class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
                        <td><a th:href="@{/delete/{id}(id=${product.id})}" class="btn btn-primary"><i class="far fa-trash-alt"></i></a></td>
                        <td><a th:href="@{/order-add-product}" class="btn btn-primary"><i class="fas fa-plus-circle"></i></a></td>
                    </tr>



                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
            <p class="my-5"><a href="/product-add" class="btn btn-primary"><i class="fas fa-plus-circle"> Add Product</i></a></p>
            <p class="my-5"><a href="/order-add" class="btn btn-primary"><i class="fas fa-plus-circle"> Prepared Order</i></a></p>
            <p class="my-5"><a href="/order-list" class="btn btn-primary"><i class="fas fa-plus-circle"> List of Orders</i></a></p>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="_footer.html :: footer"/>
</body>
</html>